<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

		<title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>

    <meta name="description" content="{{ intro if intro else metadata.description }}" />
    <meta itemprop="description" content="{{ intro if intro else metadata.description }}">

    <meta property="og:title" content="{{ metadata.title }}{% if title %} - {{ title }}{% endif %}" />

    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
    {% endif %}

  </head>

  <body>
    {{ layoutContent | safe }}
  </body>
</html>
