---
layout: default
eleventyExcludeFromCollections: true
---

<h1>Recipes</h1>

<ul>
{% for recipe in collections.recipes %}
  <li>
    <a href="{{ recipe.url }}" class="listing__local">
      <h2>{{ recipe.data.title }}</h2>
    </a>
  </li>
{% endfor %}
</ul>
